@import '../../styles/colors.scss';

.inputWrapper {
  margin-top: 16px;
  display: flex;
  position: relative;
  align-items: center;

  input {
    flex: 1;
  }

  .status {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    right: 8px;
    cursor: help;

    &.error {
      background-color: red;
    }
  }
}
